@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    
    display: block;
    height: 100vh;
    width: 100vw;
    align-items: flex-end;
    font-family: "Poppins", serif;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
#imagem {
    width: 100%;
    height: 100%;
}
#imagem img{
    width: 100%;
    height: 100%;
}
#clicks{
    font-family: "Roboto", serif;
    font-style: normal;
    display: flex;
    margin-left: 85%;
    gap: 65px;
    font-size: 13px;
    
}
#signin{
    margin-top: 15%
}
#signin :hover{
    background-color: black;
    opacity: 70%;
    border-radius: 15px;
}
#signin a{
    position:absolute;
    text-decoration: none;
    color: white;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 4.5vw;
}
#clicks :hover{
    background-color: black;
    color: white;
}
#botao{
    margin-top: 15%;
    border-radius: 15px;
    height: 5vh;
    width: 5.5vw;
    background-color: white;
    display: flex;
    align-items: center;  
}
#botao a{
    margin-left: 13px;
    text-decoration: none;
    color: black;
    
}
#texts{
    width: 100vw;
    height: 60vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -2.5%;
}

#marca{
    margin-top: -10%;
}
#marca h2{
    margin-bottom: 10%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}
#paragrafo h1{
    margin-bottom: 5%;
    color: white;
    font-size: 30px;
}

#dot{
    margin-top: 5%;
    background-color: white;
    padding: 5px;
    width: 25vw;
    border-radius: 20px;
}
#dot input::placeholder{
    padding-left: 2vw;
    text-indent: 2vw;

}
#dot input{
    border: none;
    outline: none;
}
#dot button{
    
    border: none;
    background-color: rgb(235, 23, 0);
    border-radius: 30px;
    height: 4.5vh;
    width: 2.1vw;
    color: white;
    margin-left: 7%;
}
#dot button:hover{
    background-color: black;

}
#solid{
    color:rgb(218, 7, 7) ;
}
#ref{
    margin-top: 1%;
}
#ref a{

    font-weight: 300;
    color: white;
}
#container{
    display: flex;
    width: 100vw;
    height: 60vh;
}
#solid{
    color: rgb(216, 38, 38);
}

#input{
    height: 2.2vh;
    width: 20vw;
}
#grande{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.paragrafo1{
    text-align: center;
    width: 17vw;
    
}
.gap{
    margin-bottom: 10%;  
}


#grande a{
    text-decoration: none;
    color: #eb1c05ff;

}
.gap a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 700;
}
.gap i{
    font-size: 10px;
}
#cards{
    display: flex;
    align-items: center;
    gap: 5vw;
    position: relative;
    width: 100vw;
    height: 40vh;
    margin-left: 15vw;
}

#textos{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 20vw;
    
    
}
#cards1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    flex-direction: row-reverse;
    background-color: #fff0edff;
    margin-top: 7vh;
    height: 90vh;
    width: 100vw;   
    
}
#textos1{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-top: 10vh;
    
}
#imagem1{
    position: absolute;
    display: flex;
    margin-top: -130vh;
    margin-left: 55vw;
    
}

#imagem2{
    margin-top: 7vh;
}
#textos button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 4vh;
    width: 8vw;
    background-color: #eb1700ff;
    color: white;
    border-radius: 20px;
    margin-left: -12vw;
    margin-top: 1vh;
}
.button{
    
    margin-left: 12vw;

}
#textos1 button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 4vh;
    width: 10vw;
    font-size: 12px;
    background-color: #eb1700ff;
    color: white;
    border-radius: 20px;
    margin-left: -12vw;
    margin-top: 1vh;
}
#rodape{
    background-color: #1a1a1aff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;

    height: 100vh;
    gap: 2vw;
    font-size: 10px;
}
#cont{
    color: white;
    display: flex;
    margin-left: 2vw;
    margin-top: 5vh;
    height: 60vh;
    width: 5vw;
   
}

#cont dd{
font-weight: 300;
margin: 3px;
}
#cont2 dd{
    font-weight: 300;
    margin: 3px;
    }

#cont2{
    font-weight: 300;
    color: white;
    display: flex;
    margin-left: 2vw;
    margin-top: 7.2vh;
    height: 56vh;
    width: 5vw;
}
#cont3 dd{
    font-weight: 300;
    margin: 3px;
}

#cont3{
    font-weight: 300;
    color: white;
    margin-left: 2vw;
    margin-top: 7.2vh;
    height: 56vh;
    width: 5vw;
    
}
#cont4 dd{
    font-weight: 300;
    margin: 3px;
}

#cont4{
    font-weight: 300;
    color: white;
    margin-left: 2vw;
    margin-top: 7.2vh;
    height: 61vh;
    width: 10vw;
    
}
#cont5 dd{
    font-weight: 300;
    margin: 3px;
}

#cont5{
    font-weight: 300;
    color: white;
    margin-left: 2vw;
    margin-top: 10vh;
    height: 56vh;
    width: 10vw;  
}
#cont6{
    color: white;
    margin-bottom: 30vh;
    margin-left: -35vw;
}
#cont6 dd{
    font-weight: 300;
    margin: 3px;
}
#cont7{
    color: white;
    margin-bottom: 57.5vh;
    margin-left: 5vw;
}
#cont7 dd{
    font-weight: 300;
    margin: 3px;
}
#cont8{
    color: white;
    margin-bottom: 55vh;
    margin-left: 5vw;
}
#cont8 dd{
    font-weight: 300;
    margin: 3px;
}

#div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw ;
    margin-left: -18vw;
}
#div2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
    margin-left: 29vw;
    
}
#icons{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 6vh;
    width: 10vw;
    flex-direction: column;
    color: #bababaff;
    background-color:#3b3b3bff;
    border-radius: 7px;
}
#icons h5{
    margin-left: 7px;
}
#icons h2{
    margin-left: 7px;
}
#icons2{
    margin: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 6vh;
    width: 10vw;
    flex-direction: column;
    color: #bababaff;
    background-color:#3b3b3bff;
    border-radius: 7px;
}
#icons2 h5{
    margin-left: 7px;
}
#icons2 h2{
    margin-left: 7px;
}
#logos{
    font-family: "Roboto", serif;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80vh;
    margin-left: 7vw;
}

#fim{
    display: flex;
    color: #bababaff;
    margin-bottom: 7vh;
    
}
#final{
    display: flex;
    gap: 10px;
    font-size: 12px;
}
#social{
    display: flex;
    margin-left: 40vw;
    gap: 10px;
    font-size: 15px;
}
@media (max-width:600px)
{   #botao{
    margin-left: -30vw;
}
    #signin{
        display: flex;
        justify-content: center;
        font-size: 10px;
        margin-left: -10vw;
    }
    #marca{
        margin-bottom: 10vh;
    }
    #marca i{
        font-size: 10px;
    }
    #marca h2{
        font-size: 10px;
    }
    #paragrafo{
        margin-bottom: 15vh;
    }
    #paragrafo h1{
        font-size: 20px
    }
}
